@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #171717;

    --primary: #02bb65; 
    /* --primary: #3b82f6;  */
     /* --primary: #ff8222;  */

  --primary-foreground: #ffffff;
}

.dark {
  --background: #0f0f11; 
  --foreground: #c7c7c7;


  /* --primary: #6098f2;  */

  --primary: #02bb65; 
  /* --primary: #ff892f;  */
  --primary-foreground: #ffffff;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);


  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
}

/* nprogress styles */
#nprogress .bar {
  background: var(--primary);
  height: 2px;
}

#nprogress .peg {
  box-shadow: 0 0 10px var(--primary), 0 0 5px var(--primary);
}
.blob-clip { 
  -webkit-mask-image: url('/images/blob.png'); 
  mask-image: url('/images/blob.png'); 
  -webkit-mask-size: contain; 
  mask-size: contain; 
  -webkit-mask-repeat: no-repeat; 
  mask-repeat: no-repeat; 
  -webkit-mask-position: unset; 
  mask-position: bottom; }